{{ define "welcome" }}
  <section id="welcome"><!-- Beginning of the welcome section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 vertically-centered-container">
          <div class="vertically-centered">

            <!-- Uncomment the following line if you need to use the before-name subsection -->
            <!-- <p class="before-name title-font uppercase letter-spacing">[Any text before name]</p> -->

            <div class="ticker">
              {{ range where .Pages "Section" "iam" }}
                <h1 class="name"><span class="span-text">{{ .Title }}</span></h1>
              {{ end }}
            </div>

            <!-- Uncomment the following line if you need to use static text instead of ticker -->
            <!-- <h1 class="name"><span class="span-text">John Doe</span></h1> -->

            <p class="after-name"><span class="span-text title-font">{{ with .Site.GetPage "/iam" }}{{ .Content }}{{ end }}</span></p>

            <div class="row info">
              <div class="col-md-4">
                <p>
                  <a href="tel:{{ .Site.Params.phone }}"><i class="fa fa-mobile-phone"></i>{{ .Site.Params.phone }}</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope-o"></i>{{ .Site.Params.email }}</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a href="//{{ .Site.Params.website }}">
                  <i class="fa fa-laptop"></i>{{ .Site.Params.website }}</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the welcome section -->
{{ end }}

{{ define "about" }}
  <section id="about"><!-- Beginning of the about section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}
      </div>
    </div>
  </div>
</section><!-- End of the about section -->
{{ end }}

{{ define "blog"}}
  <section id="blog"><!-- Beginning of the blog section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="h2-style">{{ i18n "blog" }}</h2>
        <div class="loading-indicator"></div>
        <ul class="categories list-inline">
          
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
              {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li><a href="#" data-src="{{ .RelPermalink }}" data-cat="{{ $name }}-blogs">{{ $name }}</a></li>
              {{ end }}
          {{ end }}
        </ul>
        <ul class="ajax-portfolio-item-list clearfix">
        </ul>
        <article class="ajax-portfolio-item-details">

        </article>
      </div>
    </div>
  </div>
</section><!-- End of the portfolio section -->
{{ end }}

{{ define "gallery"}}
  <section id="gallery"><!-- Beginning of the gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">{{ i18n "gallery" }}</h2>
          <ul class="gallery clearfix">
            {{ partial "instagramfeed" . }}
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End of the gallery section -->
{{ end }}

{{ define "portfolio"}}
  <section id="portfolio"><!-- Beginning of the portfolio section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">{{ i18n "portfolio" }}</h2>
          <div class="loading-indicator"></div>
          <ul class="categories list-inline">
            {{ range $name, $taxonomy := .Site.Taxonomies.portfolios }}
                {{ with $.Site.GetPage (printf "/portfolios/%s" $name) }}
                  <li><a href="#" data-src="{{ .Permalink }}" data-cat="{{ $name }}">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
          </ul>
          <ul class="ajax-portfolio-item-list clearfix">
          </ul>
          <article class="ajax-portfolio-item-details">
          </article>
        </div>
      </div>
    </div>
  </section><!-- End of the portfolio section -->
{{ end }}

{{ define "resume" }}
  <section id="resume"><!-- Beginning of the resume section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">{{ i18n "resume" }}</h2>
          <div class="row">
            <div class="col-md-7">
              <h3 class="h3-style">{{ i18n "resume_experience" }}</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "experiences" }}
                  <li>
                    <div class="row">
                      <div class="col-sm-8"><p class="title-style">{{.Title}} {{.Params.position}}</p></div>
                      <div class="col-sm-4"><p class="tag sm-text-center">{{.Params.dates}}</p></div>
                      <div class="col-sm-12 experiences-content"><p>{{.Content}}</p></div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h3 class="h3-style">{{ i18n "resume_education" }}</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "educations" }}
                  <li>
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="title-style">{{.Params.dates}} {{.Title}}</p>
                        <p>{{.Content}}
                          <br>{{ i18n "resume_gpa" }}: {{.Params.gpa}}
                        </p>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
              <h3 class="h3-style">{{ i18n "resume_skills" }}</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "skills" }}
                  <li>
                    {{ .Content }}
                  </li>
                {{ end }}
              </ul>
              <h3 class="h3-style">{{ i18n "resume_honors" }}</h3>
              <ul class="item-list list-half-margin-bottom">
                {{ range where .Pages "Section" "honors" }}
                  <li>
                    <p>
                      <span class="title-style">{{ .Title }}</span>
                      <br>{{ .Content }}
                    </p>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the resume section -->
{{ end }}

{{ define "contact"}}
  <section id="contact"><!-- Beginning of the contact section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {{ partial "contact" . }}
          <div class="row">
            <div class="col-md-7">
              {{ partial "contactform" . }}
            </div>
            <div class="col-md-4 col-md-offset-1">
              {{ partial "social" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the contact section -->
{{ end }}