{{ define "welcome" }}
  <section id="welcome"><!-- Beginning of the welcome section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 vertically-centered-container">
          <div class="vertically-centered">

            <!-- Uncomment the following line if you need to use the before-name subsection -->
            <!-- <p class="before-name title-font uppercase letter-spacing">[Any text before name]</p> -->

            <div class="ticker">
              {{ range where .Pages "Section" "iam" }}
                <h1 class="name"><span class="span-text">{{ .Title }}</span></h1>
              {{ end }}
            </div>

            <!-- Uncomment the following line if you need to use static text instead of ticker -->
            <!-- <h1 class="name"><span class="span-text">John Doe</span></h1> -->

            <p class="after-name"><span class="span-text title-font">{{ .Site.Params.description }}</span></p>

            <div class="row info">
              <div class="col-md-4">
                <p>
                  <a href="tel:{{ .Site.Params.phone }}"><i class="fa fa-mobile-phone"></i>{{ .Site.Params.phone }}</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope-o"></i>{{ .Site.Params.email }}</a>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <a href="//{{ .Site.Params.website }}">
                  <i class="fa fa-laptop"></i>{{ .Site.Params.website }}</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the welcome section -->
{{ end }}

{{ define "about" }}
  <section id="about"><!-- Beginning of the about section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {{ .Content }}
      </div>
    </div>
  </div>
</section><!-- End of the about section -->
{{ end }}

{{ define "resume" }}
  <section id="resume"><!-- Beginning of the resume section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">Resume</h2>
          <div class="row">
            <div class="col-md-7">
              <h3 class="h3-style">Experience</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "experiences" }}
                  <li>
                    <div class="row">
                      <div class="col-sm-4">
                        <p class="title-style sm-text-center">{{.Title}}</p>
                        <p class="tag sm-text-center">{{.Params.dates}}</p>
                      </div>
                      <div class="col-sm-8">
                        <p class="title-style">{{.Params.position}}</p>
                        <p>{{.Content}}</p>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
              <h3 class="h3-style">Education</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "educations" }}
                  <li>
                    <div class="row">
                      <div class="col-sm-4">
                        <p class="title-style sm-text-center">{{.Title}}</p>
                        <p class="tag sm-text-center">{{.Params.dates}}</p>
                      </div>
                      <div class="col-sm-8">
                        <p class="title-style">{{.Params.degree}}</p>  
                        <p>{{.Content}}
                          <br>GPA: {{.Params.gpa}}
                        </p>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h3 class="h3-style">Skills</h3>
              <ul class="item-list">
                {{ range where .Pages "Section" "skills" }}
                  <li>
                    {{ .Content }}
                  </li>
                {{ end }}
              </ul>
              <h3 class="h3-style">Honors and Awards</h3>
              <ul class="item-list list-half-margin-bottom">
                {{ range where .Pages "Section" "honors" }}
                  <li>
                    <p>
                      <span class="title-style">{{ .Title }}</span>
                      <br>{{ .Content }}
                    </p>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the resume section -->
{{ end }}

{{ define "portfolio"}}
  <section id="portfolio"><!-- Beginning of the portfolio section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">Portfolio</h2>
          <div class="loading-indicator"></div>
          <ul class="categories list-inline">
            {{ range $name, $taxonomy := .Site.Taxonomies.portfolios }}
                {{ with $.Site.GetPage (printf "/portfolios/%s" $name) }}
                  <li><a href="#" data-src="{{ .Permalink }}" data-cat="{{ $name }}">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
          </ul>
          <ul class="ajax-portfolio-item-list clearfix">
          </ul>
          <article class="ajax-portfolio-item-details">
          </article>
        </div>
      </div>
    </div>
  </section><!-- End of the portfolio section -->
{{ end }}

{{ define "blog"}}
  <section id="blog"><!-- Beginning of the blog section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="h2-style">Blog</h2>
        <div class="loading-indicator"></div>
        <ul class="categories list-inline">
          
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
              {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li><a href="#" data-src="{{ .Permalink }}" data-cat="{{ $name }}-blogs">{{ $name }}</a></li>
              {{ end }}
          {{ end }}
        </ul>
        <ul class="ajax-portfolio-item-list clearfix">
        </ul>
        <article class="ajax-portfolio-item-details">

        </article>
      </div>
    </div>
  </div>
</section><!-- End of the portfolio section -->
{{ end }}

{{ define "gallery"}}
  <section id="gallery"><!-- Beginning of the gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">Gallery</h2>
          <ul class="gallery clearfix">
            <li><a href="images/placeholder/540x360.gif" class="lightbox lightbox-image" title="Image in Lightbox"><img src="images/placeholder/250x250.gif" alt="Image in Lightbox"></a></li>
            <li><a href="http://www.youtube.com/embed/VOJyrQa_WR4" class="lightbox lightbox-video" title="Youtube Video in Lightbox"><img src="images/placeholder/250x250.gif" alt="Youtube Video in Lightbox"></a></li>
            <li><a href="http://player.vimeo.com/video/7449107" class="lightbox lightbox-video" title="Vimeo Video in Lightbox"><img src="images/placeholder/250x250.gif" alt="Vimeo Video in Lightbox"></a></li>
            <li><a href="http://www.wikipedia.com/" class="lightbox lightbox-webpage" title="Webpage in Lightbox"><img src="images/placeholder/250x250.gif" alt="Webpage in Lightbox"></a></li>
            <li><a href="images/placeholder/540x360.gif" class="lightbox lightbox-image" title="Image in Lightbox"><img src="images/placeholder/250x250.gif" alt="Image in Lightbox"></a></li>
            <li><a href="http://www.youtube.com/embed/VOJyrQa_WR4" class="lightbox lightbox-video" title="Youtube Video in Lightbox"><img src="images/placeholder/250x250.gif" alt="Youtube Video in Lightbox"></a></li>
            <li><a href="http://player.vimeo.com/video/7449107" class="lightbox lightbox-video" title="Vimeo Video in Lightbox"><img src="images/placeholder/250x250.gif" alt="Vimeo Video in Lightbox"></a></li>
            <li><a href="http://www.wikipedia.com/" class="lightbox lightbox-webpage" title="Webpage in Lightbox"><img src="images/placeholder/250x250.gif" alt="Webpage in Lightbox"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End of the gallery section -->
{{ end }}

{{ define "contact"}}
  <section id="contact"><!-- Beginning of the contact section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="h2-style">Contact</h2>
          <div class="row">
            <div class="col-md-7">
              <h3 class="h3-style">Where I am Based</h3>
              <div id="map-canvas"></div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h3 class="h3-style">Get in Touch</h3>
              <table class="contact-info-table">
                <tr>
                  <td><i class="fa fa-map-marker"></i></td>
                  <td>999 Nathan Road, Mong Kok, Hong Kong</td>   
                </tr>
                <tr>
                  <td><i class="fa fa-mobile-phone"></i></td>
                  <td>123-456-789</td>    
                </tr>
                <tr>
                  <td><i class="fa fa-envelope-o"></i></td>
                  <td><a href="#">info@john-doe.com</a></td>    
                </tr>
                <tr>
                  <td><i class="fa fa-laptop"></i></td>
                  <td><a href="#">www.john-doe.com</a></td>   
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <h3 class="h3-style">Drop Me a Line</h3>
              <form class="form-horizontal text-center" role="form" method="post" action="php/contact.php" name="contact-form" id="contact-form">
                <div class="form-group">
                  <input type="text" class="form-control" id="contact-form-name" name="contact-form-name" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="contact-form-email" name="contact-form-email" placeholder="Email" required>
                </div>

                <div class="form-group">
                  <textarea class="form-control" id="contact-form-message" name="contact-form-message" rows="7" placeholder="Message" required></textarea>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-default btn-lg uppercase title-font" id="contact-form-submit-btn">Send</button>
                </div>
              </form>
              <div id="message"></div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h3 class="h3-style">Get Social</h3>
              <ul class="social list-inline">
                <li><a href="#" class="facebook" data-hover="&#xf09a;"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter" data-hover="&#xf099;"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="linkedin" data-hover="&#xf0e1;"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="google-plus" data-hover="&#xf0d5;"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="dribbble" data-hover="&#xf17d;"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#" class="pinterest" data-hover="&#xf0d2;"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#" class="flickr" data-hover="&#xf16e;"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#" class="weibo" data-hover="&#xf18a;"><i class="fa fa-weibo"></i></a></li>
                <li><a href="#" class="github" data-hover="&#xf09b;"><i class="fa fa-github"></i></a></li>
                <li><a href="#" class="instagram" data-hover="&#xf16d;"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="stack-overflow" data-hover="&#xf16c;"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a href="#" class="tumblr" data-hover="&#xf173;"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="#" class="skype" data-hover="&#xf17e;"><i class="fa fa-skype"></i></a></li>
                <li><a href="#" class="vimeo-square" data-hover="&#xf194;"><i class="fa fa-vimeo-square"></i></a></li>
                <li><a href="#" class="xing" data-hover="&#xf168;"><i class="fa fa-xing"></i></a></li>
                <li><a href="#" class="dropbox" data-hover="&#xf16b;"><i class="fa fa-dropbox"></i></a></li>
                <li><a href="#" class="rss" data-hover="&#xf09e;"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="foursquare" data-hover="&#xf180;"><i class="fa fa-foursquare"></i></a></li>
                <li><a href="#" class="vk" data-hover="&#xf189;"><i class="fa fa-vk"></i></a></li>
                <li><a href="#" class="renren" data-hover="&#xf18b;"><i class="fa fa-renren"></i></a></li>
                <li><a href="#" class="youtube" data-hover="&#xf167;"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End of the contact section -->
{{ end }}