<h3 class="h3-style">{{ i18n "contact_drop_note" }}</h3>
<form class="form-horizontal text-center" role="form" method="post" action="php/contact.php" name="contact-form" id="contact-form">
  <div class="form-group">
    <input type="text" class="form-control" id="contact-form-name" name="contact-form-name" placeholder="{{ i18n "contact_form_name" }}" required>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="contact-form-email" name="contact-form-email" placeholder="{{ i18n "contact_form_email" }}" required>
  </div>

  <div class="form-group">
    <textarea class="form-control" id="contact-form-message" name="contact-form-message" rows="7" placeholder="{{ i18n "contact_form_message" }}" required></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default btn-lg uppercase title-font" id="contact-form-submit-btn">{{ i18n "send" }}</button>
  </div>
</form>
<div id="message"></div>