{{ if .Site.Params.highlight | default false }}
  <!-- highlight.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  {{ range .Site.Params.highlightLanguages }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script>
  {{ end }}

  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

{{ $post := resources.Get "js/post.js" | resources.ExecuteAsTemplate "js/post.js" . }}
<script src="{{ $post.Permalink }}"></script>

{{ $config := resources.Get "js/config.js" | resources.ExecuteAsTemplate "js/config.js" . }}
<script data-main="{{ $config.Permalink }}" src="js/require.js"></script>
