<a class="nav-toggle">
  <i class="fa fa-bars"></i>
</a>

<nav><!-- Beginning of the navigation bar -->
  <div class="before-menu">
    <!-- The contents within this div tag will not be visible if the navigation bar is at the top / bottom of the browser viewport. -->
    <h2>{{ .Site.Params.author }}</h2>
  </div>
  <ul class="menu nav">
    <li><a href="#welcome"><i class="fa fa-home"></i><span>{{ i18n "menu_welcome" }}</span></a></li>
    <li><a href="#about"><i class="fa fa-user"></i><span>{{ i18n "menu_about" }}</span></a></li>
    <li><a href="#resume"><i class="fa fa-file-o"></i><span>{{ i18n "menu_resume" }}</span></a></li>
    <li><a href="#portfolio"><i class="fa fa-star"></i><span>{{ i18n "menu_portfolio" }}</span></a></li>
    <li><a href="#blog"><i class="fa fa-star"></i><span>{{ i18n "menu_blog" }}</span></a></li>
    <li><a href="#gallery"><i class="fa fa-camera-retro"></i><span>{{ i18n "menu_gallery" }}</span></a></li>
    <li><a href="#contact"><i class="fa fa-comments"></i><span>{{ i18n "menu_contact" }}</span></a></li>
  </ul>
</nav><!-- End of the navigation bar -->